<h1>Public Recipes</h1>

<ul>
  <% @public_recipes.each do |recipe| %>
    <li>
      <h2><%= recipe.name%></h2>
      <span><%= recipe.user.name %></span>
      <ul>
        <% recipe.recipe_foods.each do |recipe_food| %>
          <li><%= recipe_food.food.name %> - <%= recipe_food.quantity %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>