<h1><%= @food.name %></h1>

<p><strong>Description:</strong> <%= @food.description %></p>

<%= link_to "Edit", edit_user_food_path(current_user, @food) %> |
<%= link_to "Back to My Foods", user_foods_path(current_user) %>